body{
      background-color: black;
      padding-left: 4em;
      padding-right: 4em;
      padding-top: 0;
      margin: 0;
}
/*****************NAV***********************************/
.nav-home{
      color: rgba(255,255,255,.87);
      position: absolute;
      width: 20%;
      height: 100%;
      border-right: .2px solid rgba(255,255,255,.3);
}
.svg-icon-tw-home{
      padding-top: 20px;
      margin-bottom: 20px;
}
.svg-icon-tw-home svg{
      fill: rgba(255,255,255,.87);
      width: 1.9em;
}
.list-home{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      font-weight: 600;
      text-align: justify;
}
.list-home li{
      list-style: none;
      display: grid;
      grid-template-columns: 4em auto;
      align-items: center;
      margin-bottom: 20px;
      cursor: default;
      color: rgba(255, 255, 255, .4);
}
.list-home li i{
      font-size: 1.7em;
      margin-right: 10px;
      text-align: center;
}
.active{
      color: rgba(0, 153, 255, 1) !important;
      cursor: pointer;
}
.btn-nav-tweet{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      cursor: pointer;
      padding: 15px;
      width: 75%;
      border-radius: 25px;
      background: rgba(0, 153, 255, 1);
      color: white;
      font-size: .9em;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
}
.profile{
      display: flex;
      align-items: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      position: absolute;
      bottom: 20px;
}
.profile img{    
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
}
.info-user{
      margin-right: 2em;
}
.info-user .name{
      margin: 5px 0 0;
      font-size: .75em;
      font-weight: 600;
}

.info-user .user{
      margin-top: 5px;
      font-size: .85em;
}
.profile i{
      color: rgba(255,255,255,.5);
      font-size: .8em;
}


/*****************TIMELINE***********************************/
.header-timeline{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: .5px solid rgba(255, 255, 255, .3);
      width: 50%;
      margin-left: 22.25%;
}

.header-timeline p{
      font-family:Verdana, Geneva, Tahoma, sans-serif;  
      font-weight: 600;
      font-size: 1em;
      color: rgba(255,255,255,.87);
      margin-left: 20px;
}
.header-timeline i {
      color: rgba(0, 153, 255, 1);
      font-size: 1.23em;
      margin: 20px;
}

.tweet-publish{
      display: grid;
      padding-top: 20px;
      padding-bottom: 40px;
      grid-template-columns: 6em auto;
      width: 50%;
      margin-left: 22.25%;
      border-bottom: .3px solid rgba(255, 255, 255, .3);
}
.tweet-publish img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 0 auto;
}
.space-tweet{
      display: grid;
      position: relative;
}
.space-tweet textarea{
      background: black;
      color: rgba(255,255,255,.87);
      padding: 10px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-bottom: 20px;
}
.space-tweet textarea::placeholder{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.5em;
}
.btn-tweet{
      position: absolute;
      bottom: -3.5em;
      right: 0;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      cursor: pointer;
      padding: 10px;
      width: 25%;
      border-radius: 25px;
      background: rgba(0, 153, 255, 1);
      color: white;
      font-size: .8em;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
}

.tweets{
      display: grid;
      grid-template-columns: 6em auto 2em;
      width: 50%;
      margin-left: 22.25%;
      padding-top: 25px;
      padding-bottom: 20px;
      border-bottom: .5px solid rgba(255, 255, 255, .3);
}
.tweets img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 0 auto;
     
}
.info-tweet{
      display: grid;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color: rgba(255,255,255,.87);
}
.header-info-tweet{
      display: flex;
      align-items: flex-end;
      margin-bottom: 7px;
}

.header-info-tweet .name{
      color: rgba(255,255,255,1);
      margin-right: 10px;
}
.header-info-tweet .user{
      color: rgba(255,255,255,rgba(255,255,255,.87));
      margin-right: 10px;
      font-size: .9em;
}

.body-info-tweet{
      font-size: .9em;
      text-align: left;
      margin-bottom: 15px;
}

.footer-info-tweet{
      display: flex;
      justify-content: space-between;
}
.footer-info-tweet i{
      color: rgba(255,255,255,.5);
      cursor: pointer;
}

.logout{
      color: rgba(255,255,255,.87);
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      height: 100%;
      border-left: .2px solid rgba(255,255,255,.3);
}
.btn-logout{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      cursor: pointer;
      padding: 15px;
      width: 50%;
      border-radius: 25px;
      background: rgba(0, 153, 255, .7);
      color: white;
      font-size: .9em;
      font-weight: 600;
      text-align: center;
      margin: 20px auto;    
      transition: all .5s ease-in-out;
}
.btn-logout:hover{
      background: rgba(0, 153, 255, 1);

}


@media screen and (max-width: 1500px) {
      .logout {
            width: 29.6%;
      }
}

@media screen and (max-width: 1200px) {
      .logout {
            width: 29.6%;
        }
      .header-timeline,.tweet-publish,.tweets {
            margin-left: 23.2%;
      }
}

@media screen and (max-width: 768px) {
      body {
            background-color: black;
            padding-left: 1em;
            padding-right: 4em;
      }
      .nav-home {
            width: 22%;
      }
      .list-home{
            font-size: .8em;
      }
      .list-home li i {
            font-size: 1.3em;
      }
      .profile img {
            width: 30px;
            height: 30px;
      }
      .info-user .name {
            font-size: .5em;
      }
      .info-user .user {
            font-size: .4em;
      }
      .logout {
            width: 20%;
      }
      .header-timeline,.tweet-publish,.tweets {
            margin-left: 24.9%;
            width: 61%;
      }
      .btn-logout {
            padding: 10px;
            font-size: .6em;
        }

}

@media screen and (max-width: 500px) {
      body {
            background-color: black;
            padding-left: 0em;
            padding-right: 0em;
      }
      .nav-home {
            display: none;
      }
      .logout {
            display: none;
        }
        .header-timeline, .tweet-publish, .tweets {
            width: 100%;
            margin-left: 0;
        }
        .header-info-tweet .user {
            font-size: .7em;
        }
        .time{
              font-size: .4em;
        }
}